.hero-section {
    width: 100%;
    height: 100vh;
    background: url(../images/hero-bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    box-shadow: 0 8px 0 #fff, 0 16px 0 #3AEA1F;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.hero-section .title {
    width: 80%;
    text-shadow: 8px 8px 6px #141414;
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.5;
    text-transform: uppercase;
    user-select: none;
    padding: 10px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.2);
}

.hero-section .title u {
    color: #3AEA1F;
    padding: 2px 8px;
    border-radius: 8px;
    border: 2px solid #3AEA1F;
    text-decoration: none;
    font-weight: 800;
}

.hero-section .hero-text {
    margin-top: 30px;
    width: 50%;
    color: #fff;
    backdrop-filter: blur(5px);
    border-radius: 8px;
    padding: 20px 40px;
}

.hero-section .hero-cta {
    margin-top: 30px;
    margin-left: 30px;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    text-shadow: 4px 4px 5px #141414;
    box-shadow: 8px 8px 15px #141414;
    transition: 0.3s;
}

.hero-cta:hover {
    background: #fff;
    color: #000;
    text-shadow: none;
}

.problema-section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 40px;
    color: #fff;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    z-index: 2;
}

.problema-section .title {
    color: #3AEA1F;
    text-transform: uppercase;
}

.problema-section .copy {
    width: 50%;
    text-align: right;
}

.problema-section .lista-problema {
    width: 100%;
    margin-top: 20px;
    list-style: none;
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.problema-section .lista-problema .problema {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.problema:nth-child(1),
.problema:nth-child(3) {
    background: #3AEA1F;
    color: #000;
}

.problema:nth-child(2) {
    border: 1px solid #3AEA1F;
    margin-left: 150px;
}

.problema:nth-child(3) {
    margin-left: 300px;
}

.solucion-section {
    width: 100%;
    height: 100vh;
    padding: 40px;
    background: #000;
    border-radius: 8px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
}

.line-style {
    border: none;
    outline: none;
    width: 500px;
    height: 3px;
    border-radius: 3px;
    background: #3AEA1F;
    margin-top: 20px;
}

.solucion-section .title {
    color: #3AEA1F;
    text-transform: uppercase;
}

.solucion-section .copy-solu {
    text-align: left;
    line-height: 2.1;
    width: 50%;
    margin-top: 30px;
}

.solucion-section .copy-solu u {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid #fff;
}

.seguros-section {
    position: relative;
    background: #000;
    width: 100%;
    height: 100vh;
    padding: 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.seguros-section .title {
    position: absolute;
    width: 100%;
    top: 20px;
    text-align: center;
    color: #3AEA1F;
    text-transform: uppercase;
}

.seguros-section .contenedor-slider {
    position: relative;
    width: 95%;
    height: 85%;
    border-radius: 8px;
    border: 2px solid #141414;
    box-shadow: 0 5px 0 #fff, 0 10px 0 #3AEA1F;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seguros-section .contenedor-slider .slider-buttons {
    position: absolute;
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.seguros-section .contenedor-slider .slider-buttons .slider-button {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
    border: none;
    cursor: pointer;
    user-select: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 0;
    transition: 0.3s;
}

.contenedor-slider:hover .slider-buttons .slider-button {
    opacity: 1;
}

.seguros-section .contenedor-slider .slider-buttons .slider-button svg {
    width: 30px;
    height: 30px;
}

.seguros-section .contenedor-slider .slider-buttons .slider-button:hover {
    color: #fff;
    background: #141414;
}

.seguros-section .contenedor-slider .slide-deck {
    position: absolute;
    width: 200%;
    height: 100%;
    display: flex;
    gap: 0px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: ease-in .5s;
}

.seguros-section .contenedor-slider .slide-deck .slide {
    width: calc(200%/8);
    height: 85%;
    flex-shrink: 0;
    border-radius: 8px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
}

.slide {
    transition: transform 0.3s ease;
    transform: scale(1);
}

.slide.active {
    transform: scale(1.1);
    box-shadow: 8px 0 20px #141414, -8px 0 20px #141414;
    z-index: 10;
}

.seguros-section .contenedor-slider .slide-deck .slide .img-container {
    width: 100%;
    height: 50%;
}

.seguros-section .contenedor-slider .slide-deck .slide .img-container .seguro-img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    object-position: center;
}

.seguros-section .contenedor-slider .slide-deck .slide .text-seguro-container {
    width: 100%;
    height: 50%;
    color: #000;
    padding: 10px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.seguros-section .contenedor-slider .slide-deck .slide .text-seguro-container .seguro-title {
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
}

.seguros-section .contenedor-slider .slide-deck .slide .text-seguro-container .seguro-title u {
    text-decoration: none;
    padding: 1px 2px;
    border-radius: 5px;
    border: 1px solid #000;
}

.seguros-section .contenedor-slider .slide-deck .slide .text-seguro-container .separador {
    margin-top: -10px;
    border: none;
    outline: none;
    width: 100px;
    height: 3px;
    border-radius: 3px;
    background: #3AEA1F;
}

.seguros-section .contenedor-slider .slide-deck .slide .text-seguro-container .descripcion-seguro {
    text-align: justify;
    font-size: 14px;
    padding: 0 5px;
}

.seguros-section .contenedor-slider .slide-deck .slide .text-seguro-container .seg-cta {
    text-decoration: none;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid #000;
    color: #000;
}

.seguros-section .contenedor-slider .slide-deck .slide .text-seguro-container .seg-cta:hover {
    color: #fff;
    background: #000;
}

.seguros-section .contenedor-slider .slide-deck .slide .text-seguro-container .seg-cta u {
    text-decoration: none;
}

.services-section {
    position: relative;
    background: #000;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
}

.services-section .service {
    width: 500px;
    height: 300px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 4px 4px 0 #3AEA1F, 8px 8px 0 #141414;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}

.services-section .service .text-content {
    width: 70%;
    height: 100%;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.services-section .service .text-content .service-title {
    font-size: 20px;
    font-weight: 100;
    color: #000;
}

.services-section .service .text-content .service-title u {
    text-decoration: none;
    padding: 5px 10px;
    font-weight: 600;
    border-radius: 8px;
    border: 1px solid #000;
}

.services-section .service .text-content .service-cta {
    margin-top: 100px;
    width: 200px;
    height: 50px;
    background: #000;
    border: 1px solid transparent;
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-section .service .text-content .service-cta:hover {
    color: #000;
    border: 1px solid #000;
    background: transparent;
}

.services-section .service .img-servi {
    width: 30%;
    height: 100%;
}

.services-section .service .img-servi .imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0 8px 8px 0;
    opacity: 0.85;
    transition: opacity 0.3s;
    cursor: pointer;
}

.services-section .service .img-servi .imagen:hover {
    opacity: 1;
}

.cta-section {
    width: 100%;
    height: 50vh;
    padding: 40px;
    background: #000;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
}

.cta-section .cta-content {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    z-index: 10;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.cta-section .cta-content .cta-text {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.cta-section .cta-content .cta-text u {
    color: #3AEA1F;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid #3AEA1F;
}

.cta-section .cta-content .cta-button {
    width: 250px;
    height: 40px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.cta-section .cta-content .cta-button:hover {
    border: 1px solid #000;
    color: #000;
    background: #fff;
}


/* ===========  RESPONSIVE DESIGN  1024PX =================*/

@media (max-width: 1024px) {
    .contenedor-principal {
        position: relative;
        width: 100%;
        height: auto;
        background-color: #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-section {
        width: 100%;
        height: 50vh;
        background: url(../images/hero-bg.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero-section .title {
        width: 90%;
        font-size: 35px;
    }

    .hero-section .hero-text {
        margin-top: 20px;
        padding: 16px 32px;
    }

    .problema-section {
        height: 50vh;
    }

    .problema-section .title {
        text-align: right;
    }

    .problema-section .copy {
        width: 60%;
    }

    .problema-section .lista-problema {
        gap: 20px;
    }

    .solucion-section {
        height: 50vh;
    }

    .line-style {
        width: 400px;
    }

    .solucion-section .copy-solu {
        width: 70%;
    }

    .seguros-section {
        height: 50vh;
    }

    .services-section {
        height: 50vh;
    }

    .services-section .service {
        width: 400px;
        height: 300px;
    }

    .services-section .service .text-content {
        width: 80%;
        padding: 20px;
    }

    .services-section .service .img-servi {
        width: 20%;
        height: 100%;
    }

    .cta-section {
        height: 25vh;
    }
}


/*========================================== RESPONSIVE DESIGN 768px =================================*/

@media (max-width: 768px) {
    .hero-section {
        width: 100%;
        height: 100vh;
        background: url(../images/hero-bg.webp);
        background-position: -700px;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px;
    }

    .hero-section .title {
        width: 100%;
        font-size: 25px;
        text-align: left;
        color: #fff;
    }


    .hero-section .hero-text {
        margin-top: 30px;
        width: 100%;
        padding: 20px 40px;
        text-align: justify;
    }

    .hero-section .hero-cta {
        margin-left: 0;
        align-self: center;
        padding: 10px 20px;
    }

    .problema-section {
        width: 100%;
        height: 100vh;
        padding: 20px;
        gap: 20px;
    }

    .problema-section .title {
        font-size: 18px;
        text-align: left;
    }

    .problema-section .copy {
        width: 100%;
        text-align: justify;
    }

    .problema-section .lista-problema {
        width: 100%;
        margin-top: 50px;
        gap: 30px;
        align-items: center;
    }

    .problema-section .lista-problema .problema {
        width: 275px;
    }

    .problema:nth-child(2) {
        margin-left: 0;
    }

    .problema:nth-child(3) {
        margin-left: 0;
    }

    .solucion-section {
        width: 100%;
        height: 100vh;
        padding: 20px;
    }

    .line-style {
        width: 150px;
    }

    .solucion-section .title {
        font-size: 18px;
    }

    .solucion-section .copy-solu {
        text-align: justify;
        width: 100%;
    }

    .seguros-section {
        width: 100%;
        height: 100vh;
        padding: 20px;
    }

    .seguros-section .title {
        position: absolute;
        width: 100%;
        top: 10px;
        font-size: 18px;
    }

    .services-section {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .seguros-section .contenedor-slider .slider-buttons {
        padding: 0 10px;
    }

    .seguros-section .contenedor-slider .slider-buttons .slider-button {
        opacity: 1;
        background: transparent;
    }


    .services-section .service {
        width: 300px;
        height: 300px;
    }

    .services-section .service .text-content {
        width: 80%;
        height: 100%;
        padding: 20px 10px;
    }

    .services-section .service .text-content .service-title {
        font-size: 18px;
        line-height: 1.5;
    }

    .services-section .service .text-content .service-cta {
        margin-top: 90px;
        width: 150px;
        height: 40px;
        font-size: 14px;
    }

    .services-section .service .img-servi {
        width: 20%;
        height: 100%;
    }

    .cta-section {
        height: 50vh;
        padding: 20px;
    }

    .cta-section .cta-content {
        padding: 0px;
        align-items: center;
    }

    .cta-section .cta-content .cta-text {
        line-height: 1.5;
        font-size: 18px;
    }

}